<!DOCTYPE html>
<html>
<head>
  <% include ../../partials/header.ejs %>
</head>

<body>

  <% include ../../partials/navbar.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <% if(user.id == displaying.id) {%>
      <h1><%=displaying.get("displayName")%></h1>
    <% } else { %>
      <h1><%=displaying.get("username")%></h1>
    <% } %>
    <p>Member since: <%=displaying.createdAt%></p>
    <h2>Percent successful: <%=100*score%>%</h2>
    <div class="text-center">
        <a type="button" class="btn-success btn-lg btn-block" href="/users/viewComments?id=<%=displaying.id%>">Comments</a>
    </div>
  </div>
</div>

<% if(user.id == displaying.id) {%>

<div class="text-center">
  <h2>You have <%=displaying.get("credits")%> keys.</h2>
</div>

<div class="col-xs-12" style="height:30px;"></div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-2">
      <div class="text-center">
        <a type="button" style="background-color:#4ABDAC" class="btn-primary btn-lg btn-block" href="/users/myCoupons/purchased">Purchased</a>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="text-center">
        <a type="button" style="background-color:#4ABDAC" class="btn-primary btn-lg btn-block" href="/users/myCoupons/selling">Selling</a>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="text-center">
        <a type="button" style="background-color:#4ABDAC" class="btn-primary btn-lg btn-block" href="/users/myCoupons/sold">Sold</a>
      </div>
    </div>
  <div class="col-sm-3"></div>
</div>

<div class="col-xs-12" style="height:30px;"></div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="text-center">
      <a type="button" style="background-color:#F7B733" class="btn-primary btn-lg btn-block" href="/users/settings">Account Settings</a>
    </div>
  </div>
</div>

<div class="col-xs-12" style="height:30px;"></div>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="text-center">
      <a type="button" style="background-color:#FC4A1A" class="btn-primary btn-lg btn-block" href="/users/logout">Logout</a>
    </div>
  </div>
</div>
<% } %>

</body>
</html>