<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/navbar.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1><%= coupon.get("storeName")%></h1>
    <p><%=coupon.get("couponDescription")%></p>
    <h2><%=coupon.get("price")%> credits</h2>
    <% if(coupon.get("expirationDate")) {%>
    <h2> Expires <%=coupon.get("expirationDate")%></h2>
    <% } %>
    <% if(isBuyer) {%>
    <h2> Code: <%=coupon.get("code")%>
    <% } %>
  </div>
</div>

<% if(coupon.get("additionalInfo").length > 0) {%>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
      <%=coupon.get("additionalInfo")%>
  </div>
</div>
<% } %>

<% if(isBuyer && needsReview){%>
  <div class="text-center">
    <a href="/coupons/postReview?id=<%=coupon.id%>" class="btn btn-success" role="button">Post Review</a>
  </div>
<% } %>

<% if(coupon.get("status") == 1 && !isSeller) {%>
<form action="/coupons/purchaseCoupon" method="post">
  <input type="hidden" id="id" name="id" value=<%=coupon.id %>>
  <div class="row">
    <div class="text-center">
      <button type="submit" class="btn btn-success">Buy!</button>
    </div>
  </div>
</form>
<% } %>

</body>
</html>